<h1>Home#index</h1>
<p>
Biotech | Pharma | Medical Device Jobs in Ireland

JobContax is the largest recruitment company in the Irish / UK Biotechnology, Pharmaceutical , Medical Device and Microelectronics sectors.
With over 10 years experience in the market and a client list including Amgen, Intel, Genzyme, Pfizer and Novartis; JobContax can help you progress your career in these exciting sectors.
Construction, Engineering & Design Jobs in Africa, Canada, China, Middle East, UK

JobContax hires for residential, commercial, industrial, infrastructure and utilities projects.
Our partners include Aecon, Amec, Bechtel, Emaar, Fluor, Jacobs, Al- Habtoor Leighton.
Jobs in the Middle East include Tax Free Salaries and our Chinese speaking consultants offer unrivalled expert advice on the Chinese market.
</p>
